<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户管理 -->
<mapper namespace="com.zss.zframe.system.mapper.UserMapper">

	<resultMap id="UserObject" type="com.zss.zframe.system.bean.User">
		<id column="user_id" property="user_id" />
		<result column="user_name" property="user_name" />
		<result column="real_name" property="real_name" />
		<result column="nick_name" property="nick_name" />
		<result column="last_login" property="last_login" />
		<result column="ip_addr" property="ip_addr" />
		<result column="state" property="state" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="remark" property="remark" />
		<collection property="roles" ofType="com.zss.zframe.system.bean.Role">
			<id column="role_id" property="role_id" />
			<result column="role_name" property="role_name" />
		</collection>
	</resultMap>
	
	<select id="selectUserCount" parameterType="java.util.HashMap" resultType="Integer">
		select
		count(0)
		from
		sys_user
		where
		state != -1
		and user_name!='admin'
		<if test="name != null and name != ''">
			and 
			(
				user_name like concat(concat('%', #{name}),'%')
				or 
				real_name like concat(concat('%', #{name}),'%') 
			)
		</if>
	</select>

	<!-- 用户所有列表 -->
	<select id="selectAllUsers" parameterType="java.util.HashMap" resultMap="UserObject">
		select ta.*, tc.role_id, tc.role_name from 
		(
		select
		user_id,
		user_name,
		real_name,
		nick_name,
		last_login,
		ip_addr,
		state,
		email,
		phone,
		remark
		from
		sys_user
		where
		state != -1
		and user_name!='admin'
		<if test="name != null and name != ''">
			and 
			(
				user_name like concat(concat('%', #{name}),'%')
				or 
				real_name like concat(concat('%', #{name}),'%') 
			)
		</if>
		) as ta
		left join
		sys_user_role as tb 
		on ta.user_id = tb.user_id
		left join
		sys_role as tc
		on tb.role_id = tc.role_id
	</select>

	<!-- 获取用户 -->
	<select id="selectUserById" parameterType="String"
		resultType="com.zss.zframe.system.bean.User">
		select
		user_id,
		user_name,
		real_name,
		nick_name,
		last_login,
		ip_addr,
		state,
		email,
		phone,
		remark
		from
		sys_user
		where user_id=#{user_id}
	</select>

	<!-- 新增用户 -->
	<insert id="insertUser" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="user_id" >
		insert into sys_user (
		user_name,
		password,
		real_name,
		nick_name,
		ip_addr,
		email,
		phone,
		remark
		) values (
		#{user_name},
		#{password},
		#{real_name},
		#{nick_name},
		#{ip_addr},
		#{email},
		#{phone},
		#{remark}
		)
	</insert>

	<!-- 修改用户 -->
	<update id="updateUser" parameterType="java.util.HashMap">
		update sys_user
		set
		user_name=#{user_name},
		real_name=#{real_name},
		nick_name=#{nick_name},
		ip_addr=#{ip_addr},
		email=#{email},
		phone=#{phone},
		remark=#{remark}
		where
		user_id=#{user_id}
	</update>

	<!-- 删除用户 -->
	<update id="deleteUser" parameterType="String">
		update sys_user
		set
		state=-1
		where
		user_id=#{user_id}
	</update>

	<!-- 用户登录 -->
	<select id="sysLogin" parameterType="String"
		resultType="com.zss.zframe.system.bean.User">
		select
		user_id,
		user_name,
		password,
		real_name,
		nick_name,
		last_login,
		ip_addr,
		state,
		email,
		phone,
		remark
		from
		sys_user
		where user_name=#{user_name}
	</select>
	
	<!-- 新增用户角色中间表 -->
	<insert id="insertUserRole" parameterType="java.util.HashMap" >
		insert into sys_user_role (
		user_id,
		role_id
		) values (
		#{user_id},
		#{role_id}
		)
	</insert>

	<!-- 删除用户角色中间表 -->
	<delete id="deleteUserRole" parameterType="String">
		delete from sys_user_role
		where
		user_id=#{user_id}
	</delete>
	
</mapper>